html{
    height:100%;
}
body {
     font: 20px "Montserrat", sans-serif;
     line-height: 1.8;
     color: #f5f6f7;
     min-height:100%;
}

#calendar-wrap header{
    text-align:center;
    font-family: 'Amatic SC', cursive;
}
header h1{
  font-size: 50px;

}

header h3{
    text-align:center;
}

#calendar {
    width: 100%;
}

#calendar a {
    color: #8e352e;
    text-decoration: none;
}

#calendar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

#calendar li {
    display: block;
    float: left;
    width:14.342%;
    padding: 5px;
    box-sizing:border-box;
    border: 1px solid #ccc;
    margin-right: -1px;
    margin-bottom: -1px;
}

#calendar ul.weekdays {
    height: 40px;
    background:  rgb(95, 128, 205);
}

#calendar ul.weekdays li {
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    border: none !important;
    padding: 10px 6px;
    color: #fff;
    font-size: 13px;
}

#calendar .days .day li {
    height: 180px;
}

.day{
    height: 180px;
    overflow:auto;
}

#calendar .days li:hover {
    background: #d3d3d3;
}

#calendar .date {
    text-align: center;
    margin-bottom: 5px;
    padding: 4px;
    background: #333;
    color: #fff;
    width: 20px;
    border-radius: 50%;
    float: right;
}

#calendar .event {
    clear: both;
    display: block;
    font-size: 13px;
    border-radius: 4px;
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 5px;
    line-height: 14px;
    background: #f5f6f7;
    border: 1px solid #b5dbdc;
    color: #009aaf;
    text-decoration: none;
}

#calendar .event-desc {
    color: #666;
    margin: 3px 0 7px 0;
    text-decoration: none;
}

#calendar .other-month {
    background: #f5f5f5;
    color: #666;
}

.bg-1 {
     background-color: rgb(118, 177, 162);
     color: rgb(69, 107, 197);
}

.bg-1 .container-fluid{
    padding-top:70px;
    padding-bottom:70px;
}

.bg-1 p {
    font-size: 16px;
}

/*-----------------------------------
        ICONS
---------------------------------*/

.bg-1 .far {
    size:20px;
    padding-right:10px;
}


/*-----------------------------------
        FORM
---------------------------------*/

.container-fluid form{
    margin-top: 50px;
}

.container-fluid form .form-group{
    width:30%;
    margin:0 auto;
}

select{
    text-align-last:center;
}

/*-----------------------------------
        BUTTON
---------------------------------*/

.bg-1 .btn{
    color: rgb(95, 128, 205);
}

.card .btn-primary{
    background-color: rgb(95, 128, 205);
    border-color:rgb(95, 128, 205);
    margin: 0 auto;
    position:relative;
    left:35%;
    top: 30%;
}

.btn-lg{
    margin-top:25px;
}

/*-----------------------------------
        ADD EVENT FORM
---------------------------------*/

.card .card-body .col-md-10{
    margin: 0 auto;
}
.card .card-body form{
    margin:0 auto;
    width:100%;
}
.card .card-body .form-group{
    margin:0 auto;
}

.card .card-body .col-md-6{
    margin:0 auto;
}

.card .card-body .col-md-6 input{
    margin:0 auto;
}







/* ============================
                Mobile Responsiveness
   ============================*/


@media(max-width: 768px) {

    #calendar .weekdays, #calendar .other-month {
        display: none;
    }

    #calendar li {
        height: auto !important;
        border: 1px solid #ededed;
        width: 100%;
        padding: 10px;
        margin-bottom: -1px;
    }

    #calendar .date {
        float: none;
    }
}