<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Event</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/"/>
    <link th:href="@{style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<body>
<div class="container my-5">
    <header>
        <h3> Add Event</h3>
    </header>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/event/add}" th:object="${eventDTO}" method="post">
                    <div class="row" >
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Name</label> <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name"> <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8" >
                            <label for="startDate" class="col-form-label">Start date</label> <input type="text" th:field="*{dateTimeDTO.startDateString}" class="form-control" id="startDate" placeholder="Start date"> <span th:if="${#fields.hasErrors('dateTimeDTO.startDate')}" th:errors="*{dateTimeDTO.startDate}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8" >
                            <label for="endDate" class="col-form-label">End date</label> <input type="text" th:field="*{dateTimeDTO.endDateString}" class="form-control" id="endDate" placeholder="End date"> <span th:if="${#fields.hasErrors('dateTimeDTO.endDate')}" th:errors="*{dateTimeDTO.endDate}" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value="Add Event">
                        </div>

                        <div class="form-group col-md-8"></div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>