<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link th:href="@{style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body class="bg-1">
<div class="container-fluid text-center">
    <a class="btn btn-default btn-lg" th:href="@{/event/showForm}">
        <span class="far fa-calendar-alt"></span>ADD NEW EVENT </a>
    <br>
    <br>
    <a class="btn btn-default btn-lg" th:href="@{/event/get}">
        <span class="far fa-eye"></span>YOUR SCHEDULE FOR THIS MONTH</a>
    <br>
    <br>
    <form method="post" th:action="@{/event/selectedMonth}" th:object="${months}">
        <div class="form-group">
            <select id="month" class="form-control select2-single text-center" th:field="*{month}">
                <option th:each="month : ${T(java.time.Month).values()}"
                        th:value="${month}"
                        th:text="${month}">
                </option>
            </select>
        </div>
            <input type="submit"  class="btn btn-default btn-lg far fa-hand-pointer" value="SEE THE SCHEDULE FOR THE SELECTED MONTH">
        <br>
        <br>
    </form>
</div>
</body>
</html>