<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Events</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/" />
    <link th:href="@{style.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">

<body>
<div id="calendar-wrap">
    <header>
        <h1 th:text="${currentMonthName + ' ' + #dates.year(#dates.createNow())}" ></h1>
    </header>
    <div id="calendar">
        <ul class="weekdays">
            <li>Monday</li>
            <li>Tuesday</li>
            <li>Wednesday</li>
            <li>Thursday</li>
            <li>Friday</li>
            <li>Saturday</li>
            <li>Sunday</li>
        </ul>
        <!-- Days from previous month -->
         <ul class="days" th:with="numberOfDaysInPreviousMonth=${#dates.dayOfWeek(
                        #dates.create(#dates.year(#dates.createNow()), currentMonthNumber + 1, '1')) - 2}" >
             <div th:each="i : ${#numbers.sequence(numberOfDaysInPreviousMonth-1, 0)}"
                  th:if="${numberOfDaysInPreviousMonth > 0}">
                <li class="day other-month" >
                    <div class="date" th:text="${lastDayInPreviousMonth} - ${i}"> </div>
                    <div class="event">
                        <div th:with="result=${lastDayInPreviousMonth} - ${i},
                            day=${#dates.create(year, previousMonthNumber + 1, result)}"
                            th:each="event : ${events}" >
                            <div th:each="date : ${event.getDateTimeDTOS()}" th:with="equality=${#dates.format(date.getStartDate(), 'yyyy-MM-dd')} eq (${#dates.format(day, 'yyyy-MM-dd')})">
                                 <div th:if="${equality}">
                                        <div class="event-desc"
                                             th:text="${event.getName()}">
                                        </div>
                                        <div class="event-time" th:text="${#dates.format(date.getStartDate(), 'HH:mm') + '-' +
                                                #dates.format(date.getEndDate(), 'HH:mm')}">
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </li>
             </div>
             <div th:each="i : ${#numbers.sequence(numberOfDaysInPreviousMonth + 6, 0)}"
                  th:if="${numberOfDaysInPreviousMonth < 0}">
                 <li class="day other-month" >
                     <div class="date" th:text="${lastDayInPreviousMonth} - ${i}"> </div>
                     <div class="event" >
                         <div th:with="result=${lastDayInPreviousMonth} - ${i},
                            day=${#dates.create(year, previousMonthNumber + 1, result)}"
                              th:each="event : ${events}">
                             <div th:each="date : ${event.getDateTimeDTOS()}" th:with="equality=${#dates.format(date.getStartDate(), 'yyyy-MM-dd')} eq ${#dates.format(day, 'yyyy-MM-dd')}">
                                  <div th:if="${equality}">
                                         <div class="event-desc"
                                             th:text="${event.getName()}">
                                         </div>
                                         <div class="event-time"
                                              th:text="${#dates.format(date.getStartDate(), 'HH:mm') + '-' +
                                                #dates.format(date.getEndDate(), 'HH:mm')}">
                                         </div>
                                  </div>
                             </div>
                         </div>
                     </div>
                 </li>
             </div>
                <!-- Days in current month -->
             <div th:each="j : ${#numbers.sequence(1, lastDayInCurrentMonth)}">
                <li class="day" >
                    <div class="date" th:text="${j}"></div>
                    <div class="event" >
                        <div  th:with="day=${#dates.create(#dates.year(#dates.createNow()), currentMonthNumber + 1, j)}"
                             th:each="event : ${events}" >
                            <div th:each="date : ${event.getDateTimeDTOS()}" th:with="equality=${#dates.format(date.getStartDate(), 'yyyy-MM-dd')} eq ${#dates.format(day, 'yyyy-MM-dd')}">
                                <div th:if="${equality}">
                                    <div class="event-desc"
                                         th:text="${event.getName()}">
                                    </div>
                                    <div class="event-time"
                                         th:text="${#dates.format(date.getStartDate(), 'HH:mm') + '-' +
                                            #dates.format(date.getEndDate(), 'HH:mm')}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
             </div>
         </ul>
    </div>
</div>
</body>
</html>